.property-main {
    position: relative;
    top: 6.5vh;
    font-family: roboto, sans-serif, arial ;
    background-image: linear-gradient(#24c5f3, white);
    margin-bottom: 80px;
}
.header {
    text-align: center;
}

h1 {
    padding-top: 20px;
}

.description-box h3 {
    text-align: center;
    margin-top: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid #023047;
}

.property-details-header {
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #023047;
}

@media only screen and (max-width: 1199px) {
    .property-details-box {
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    .contactbox {
        width: 40rem;
        margin-right: 10px;
        margin-left: 10px;
    }
    .contact-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 701px) and (max-width: 999px) {
    .contactbox {
        width: 40rem;
    }

}

@media only screen and (min-width: 1000px) and (max-width: 1199px) {
    .input-column {
        margin-right: 15px;
    }
    .contactbox {
        width: 40rem;
    }
}

@media only screen and (min-width: 1200px) {
    .input-column {
        margin-right: 15px;
    }
    .property-details-box {
        max-width: 100%;
        margin-bottom: 0px !important;
    }
    .property-details-grid  {
        justify-content: flex-start !important;
    }
}
